## PROBLEM: How to predict the delinquency rate through information on loan applications

#### - The reason the dataset was of interest
For the IDS702 course last semester, I constructed a logsitic regression model to interpret how the information on loan applications affect the delinquency rates of loan applicants with this dataset. For this semester, I am particularly interested in applying non-parametric methods on the same dataset and see how the performance differs from the parametric method.

#### - The source of the dataset
The dataset is available on Kaggle and provided by Home Credit Group. (https://www.kaggle.com/c/home-credit-default-risk/data)

#### - Description of the dataset
The dataset contains 122 variables and 38848 observations. "TARGET" is the response variable and the other 121 variables are predictors. The predictor variables describe different information on loan applications, for example, *CNT_CHILDREN* describes how many children does the loan applicant have.

In [10]:
import pandas as pd
train_data = pd.read_csv("application_train.csv")

In [8]:
train_data.shape

(38848, 122)

In [9]:
train_data.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,38848.000000,38848.000000,38848.000000,3.884800e+04,3.884800e+04,38848.000000,3.881900e+04,38848.000000,38848.000000,38848.000000,...,38847.000000,38847.000000,38847.000000,38847.000000,33619.000000,33619.000000,33619.000000,33619.000000,33619.000000,33619.000000
mean,122574.573389,0.080545,0.418709,1.711049e+05,5.990255e+05,27110.769061,5.383075e+05,0.020767,-16032.740476,63977.648991,...,0.008418,0.000669,0.000566,0.000386,0.007377,0.007763,0.033285,0.269015,0.260805,1.886047
std,12986.961189,0.272138,0.725396,6.008824e+05,4.015122e+05,14615.740691,3.689570e+05,0.013764,4357.226298,141429.955979,...,0.091362,0.025862,0.023791,0.019647,0.090308,0.112433,0.197383,0.926456,0.606724,1.864055
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,2052.000000,4.500000e+04,0.000533,-25182.000000,-17531.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,111301.750000,0.000000,0.000000,1.125000e+05,2.700000e+05,16456.500000,2.385000e+05,0.010006,-19666.000000,-2783.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,122655.500000,0.000000,0.000000,1.440000e+05,5.146898e+05,24939.000000,4.500000e+05,0.018850,-15754.500000,-1218.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,133844.250000,0.000000,1.000000,2.025000e+05,8.086500e+05,34587.000000,6.795000e+05,0.028663,-12390.000000,-285.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,144993.000000,1.000000,11.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7680.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,3.000000,6.000000,6.000000,24.000000,8.000000,25.000000

In [11]:
train_data.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
CNT_CHILDREN                      0
AMT_INCOME_TOTAL                  0
AMT_CREDIT                        0
AMT_ANNUITY                       0
AMT_GOODS_PRICE                  29
NAME_TYPE_SUITE                 153
NAME_INCOME_TYPE                  0
NAME_EDUCATION_TYPE               0
NAME_FAMILY_STATUS                0
NAME_HOUSING_TYPE                 0
REGION_POPULATION_RELATIVE        0
DAYS_BIRTH                        0
DAYS_EMPLOYED                     0
DAYS_REGISTRATION                 0
DAYS_ID_PUBLISH                   0
OWN_CAR_AGE                   25616
FLAG_MOBIL                        0
FLAG_EMP_PHONE                    1
FLAG_WORK_PHONE                   1
FLAG_CONT_MOBILE                  1
FLAG_PHONE                        1
FLAG_EMAIL                        1
OCCUPATION_TYPE               12221
CNT_FAM_MEMBERS                   1
                              ...
DEF_30_CNT_SOCIAL_CIRCLE        130
OBS_60_CNT_SOCIAL_CIRCLE        130
DEF_60_CNT_SOCIAL_CIRCLE        130
DAYS_LAST_PHONE_CHANGE            2
FLAG_DOCUMENT_2                   1
FLAG_DOCUMENT_3                   1
FLAG_DOCUMENT_4                   1
FLAG_DOCUMENT_5                   1
FLAG_DOCUMENT_6                   1
FLAG_DOCUMENT_7                   1
FLAG_DOCUMENT_8                   1
FLAG_DOCUMENT_9                   1
FLAG_DOCUMENT_10                  1
FLAG_DOCUMENT_11                  1
FLAG_DOCUMENT_12                  1
FLAG_DOCUMENT_13                  1
FLAG_DOCUMENT_14                  1
FLAG_DOCUMENT_15                  1
FLAG_DOCUMENT_16                  1
FLAG_DOCUMENT_17                  1
FLAG_DOCUMENT_18                  1
FLAG_DOCUMENT_19                  1
FLAG_DOCUMENT_20                  1
FLAG_DOCUMENT_21                  1
AMT_REQ_CREDIT_BUREAU_HOUR     5229
AMT_REQ_CREDIT_BUREAU_DAY      5229
AMT_REQ_CREDIT_BUREAU_WEEK     5229
AMT_REQ_CREDIT_BUREAU_MON      5229
AMT_REQ_CREDIT_BUREAU_QRT      5229
AMT_REQ_CREDIT_BUREAU_YEAR     5229
Length: 122, dtype: int64

In [15]:
train_data_dropna.shape

(1059, 122)

In [21]:
import matplotlib.pyplot as plt
boxplot1 = pd.DataFrame(train_data_dropna)